* {
  	margin: 0;
	padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.2em;
    color: #949098;
}
.search-form {
	display: -webkit-box;
	display: flex;
 	-webkit-box-pack: center;
 	justify-content: center;
 	-webkit-box-align: center;
 	align-items: center;
 	align-content: center;
	height: 100vh;
	padding: 50px 0;
}
@media (max-width: 767px) {
	.search-form {
		-webkit-box-align: start;
		align-items: flex-start;
	}
}
.search-form__content {
	-webkit-box-flex: 0;
	flex: 0 0 100%;
	width: 100%;
	max-width: 800px;
	padding: 0 50px;
}
@media (max-width: 767px) {
	.search-form__content {
		padding: 0 15px;
	}
}